body{
    background-color: rgb(124, 104, 41);
    color:azure;
}
#head{
    margin: auto;
    max-width: max-content;
    padding: 2px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 1px solid red;
    background-color: aliceblue;
    color: black;
    font-style: italic; 
    max-width: 500px;
    padding: 2px;
}
img{
    border: 1px solid black;

}

